.quote-submit-container {
    margin-top: 30px;
}

.submit-icon {
    display: flex;
    justify-content: center;
}

.quote-submit {
    width: 6vw;
    height: 15vh;
}

.quote-sub-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quote-sub-container h1 {
    margin: 0px;
    display: flex;
    justify-content: center;
}

.quote-submit-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

@media (max-width: 1024px) {
    .quote-submit-btn {
        flex-direction: column;
        gap: 20px;
    }
}