.services-container {
    margin-top: 30px;
}

.services-container h1{
    margin: 0px;
}

.service-sub-container{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.service-para{
    margin-bottom: 30px;
}
.service-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.our-services{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.service-container{
    border: 2px solid rgb(243, 240, 240);
    border-radius: 12px;
    width: 18vw;
    height: 17vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding-left: 30px;
    gap: 15px;
}

.icons{
    width: 30px;
    height: 20px;
    border-radius: 30px;
    padding: 7px;
    background-color: lightblue;
    color: rgb(74, 58, 255);
}

.service-container:hover{
    border: 2px solid lightgrey;
}

.service-container-selected{
    border-radius: 12px;
    width: 18vw;
    height: 17vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding-left: 30px;
    gap: 15px;
    border: 2px solid blue;
}

.services{
    padding-bottom: 6px;
}

@media (max-width: 1024px) {
    .our-services{
        flex-direction: column;
    }
    .service-btn{
        flex-direction: column;
        gap:20px;
    }
}