.p-container {
  display: flex;
  justify-content: center;
}

.App {
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.App-header {
  margin: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.App-header h1 {
  font-size: 34px;
  font-weight: 700;
  width: 680px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.App-header span {
  width: 40vw;
  font-size: 18px;
  font-weight: 400;
}

.app-section {
  display: flex;
  justify-content: center;
}

.app-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid lightgrey;
  border-radius: 20px;
  width: 42vw;
  padding: 30px;
}

.progress-bar {
  padding-bottom: 40px;
  border-bottom: 2px solid lightgrey;
}

.progress-bar,
.form-container {
  display: flex;
  flex-direction: column;
  width: 38vw;
}

@media (min-width: 769px) and (max-width: 1024px) {

  .progress-bar,
  .form-container {
    width: 62%;

  }

}